@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





/* .footer {
    margin-top: 0 !important;
    margin-bottom: 0!important;
  } */